main{
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.view-profil{
    border-top: 1px solid rgb(72, 72, 72);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topik-forum.active{
    display: block;
}

.topik-forum{
    display: none;
}

.search input::placeholder{
    color: #fff6f6;
    font-weight: 400;
    font-size: 16px;
}

.search input{
    border: 1px solid transparent;
    padding-left: 32px;
    font-weight: 400;

}

.search input:focus{
    border: 1px solid black;
    outline: none;
}