
main .container-register input::placeholder{
    color: #262626;
    font-size: 14px;
    font-weight: 600;
}
main .container-register input{
    font-weight: 600;
    border: none;
    outline: none;
}
main .container-register input:focus{
    background-color: #c9c8c8;
}